<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="SubscriptionID" value="bb715306-0846-4b91-a152-67372df3b57d" />
    <add key="TenantID" value="fa3c421e-2fde-4cf9-945d-62735cedcad2" />
    <add key="ClientID" value="22005362-a0fe-48e4-9577-42bb4eec6140" />
    <add key="AppKey" value="TiX04CdS85x+G35+bXkqllgneUB3l5tisfUbCMPRFKQ=" />
    <add key="AzureActiveDirectoryInstance" value="https://login.microsoftonline.com/" />
    <add key="Resource" value="https://management.core.windows.net/" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>